img.logo {
	width: 250px;
	height: 80px;
	margin-bottom: 7px;
}

.middle-box {
	max-width: 450px;
	position: relative;
	padding-top: 0;
	margin-top: 40px;
}

.middle-box>.abs-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background: #ffffff;
	border: solid 5px #007BFF;
	opacity: 0.75;
}

.middle-box>.content {
	color: #424242;
	padding: 30px 30px;
	position: relative;
	z-index: 2;
	font-size: 15px;
}